<nav class="navbar navbar-default navbar-static-top m-b-0">
  <div class="navbar-header">
    <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
    <div class="top-left-part"><a class="logo" href="index.html"><b><img src="./assets/plugins/images/myExpense-logo.png" alt="home" /></b><span class="hidden-xs">my<strong>Expense</strong></span></a></div>
    <ul class="nav navbar-top-links navbar-left hidden-xs">
      <!--<li><a href="javascript:void(0)" data-class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>-->
      <li style="margin-left: 20px">
        <app-search></app-search>
      </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle waves-effect waves-light" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/addbill']">
          <i class="fa fa-usd"></i>&nbsp; Add Bill
        </a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="./assets/plugins/images/users/d1.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{user.name}}</b> </a>
        <ul class="dropdown-menu dropdown-user animated flipInY">
          <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/profile']"><i class="ti-settings"></i>  Account Setting</a></li>
          <li><a (click)="onLogoutClick()" href="#"><i class="fa fa-power-off"></i>  Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <!-- input-group -->
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
          </span>
        </div>
        <!-- /input-group -->
      </li>
      <li class="nav-small-cap m-t-10">--- Main Menu</li>
      <li> <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dashboard']" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu">Dashboard</span></a> </li>
      <li> <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/reports']" class="waves-effect"><i class="icon-people p-r-10"></i> <span class="hide-menu">Reports</span></a> </li>
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle waves-effect" data-toggle="dropdown"><i class="icon-people p-r-10"></i> <span class="hide-menu"> Groups </span></a>
        <ul class="dropdown-menu dropdown-user pull-right animated fadeInUp">
          <li *ngFor="let group of groups">
            <a [routerLink]="['/grouptransaction', group.name]">{{group.name}}</a>
          </li>
          <li>
            <a style="color: darkred" [routerLink]="['/addgroup']">Add Group</a>
          </li>
        </ul>
      </li>
      <li><a (click)="onLogoutClick()" href="#" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
    </ul>
  </div>
</div>

